@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ruda:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'Ruda', sans-serif;
  font-family: 'Roboto', sans-serif; */
  /* background-color: #cacccf53; */
}

.main-container {
  width: 100%;
  /* background-color: #0043b0; */
}

.top-container {
  width: 100%;
  /* background-color: antiquewhite; */
}

.top-content {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
  /* background-color: aquamarine; */
  padding-top: 7%;
}

.top-content .left-logo {
  /* background-color: rgb(121, 121, 169); */
}

.left-logo img {
  width: 47%;
}

.left-logo p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 130%;
  /* margin-left: 5%; */
}

.right-form {
 /* background-color: beige; */
 width: 85%;
 margin: 1%;
}

.right-form form {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  padding: 4% 4% 5% 4%;
  border-radius: 8px;
}

.right-form .top-section {
  display: flex;
  flex-direction: column;
}

.right-form .top-section input{
  padding: 4%;
  margin-bottom: 4%;
  font-size: 100%;
  color: rgb(131, 126, 126);
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline-color: rgba(104, 133, 200, 0.824);
}

.right-form .top-section #login-btn {
  padding: 3%;
  background-color: #1877f2;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 23px;
  font-weight: 600;
}

.right-form .top-section span {
  text-align: center;
  margin: 12px 0px;
}

.right-form .top-section span a {
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}

.right-form .top-section span a:hover {
  text-decoration: underline;
}

.right-form .bottom-section {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding: 20px 0px;
  border-top: 1px solid rgb(180, 179, 179);
}

.right-form .bottom-section button {
  background-color: rgb(66, 183, 42);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3%;
  font-size: 20px;
  font-weight: 600;
}

.right-form .page {
  display: flex;
  justify-content: center;
}